In [2]:
import pandas as pd
import os

In [3]:
os.getcwd()

'/Users/markgiannini/Desktop/7PMark/Sunny'

In [ ]:
#Credentials
#username: p-tbernardin@apptio-poc.com

In [4]:
#Read in 3 data sets

cloud_invoice = pd.read_csv('./Data/Cloud_Invoice.txt', sep = '\t')
cloud_invoice_2019_09_10 = pd.read_csv('./Data/Cloud_Invoice_2019-09-10.txt', sep = '\t')
cloud_invoice_2019_09_13 = pd.read_csv('./Data/Cloud_Invoice_2019-09-13.txt', sep = '\t')

#### Cloud Invoice

In [104]:
cloud_invoice.shape

(2373824, 15)

In [88]:
#import qgrid#
#widget = qgrid.show_grid(cloud_invoice)
#widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

In [133]:
total_cnt = len(cloud_invoice)
d = cloud_invoice.isnull().sum(axis = 0)
d_pd = pd.DataFrame(d)
d_pd.columns = ['null_cnt']
d_pd
d_pd['total_rows'] = total_cnt
d_pd['null_prct'] = d_pd.null_cnt/d_pd.total_rows
d_pd.sort_values(by = ['null_prct'])

                      null_cnt
__row                        0
__tenant                     0
__date                       0
Vendor                       0
Seller                       0
ProductName                  0
ServiceName                  0
TransactionType              0
LeaseType                    0
Operation                   61
UsageQuantityUnit            0
_+Cost                  175683
_-Cost                 2184211
__underlyingRowCount         0
__errors                     0

In [132]:
cloud_invoice.shape

#Raw Data Shape: (41624032, 22)

(2373824, 15)

In [107]:
s3_samplerows= cloud_invoice.head(5)
s3_samplerows.to_csv('s3_samplerows.csv')

#### Column Differences

In [ ]:

#SHARED COLS: __row, __tenant, __date, Vender, Seller, ProductName, ServiceName, TransactionType
            #Lease Type, Operation, UsageQuantityUnit

#IN RAW, not AGG: __batch, Organization[Name, Size, Sector, ID], Item Description, UsageQuantity 

#IN AGG, not RAW: __underlyingRowCount, _+Cost, _-Cost, UsageQuantityUnit, __errors

##### Examining __underlyingRowCount column

In [16]:
cond1 = (cloud_invoice.__date == 'September 2015')
cond2 = (cloud_invoice.__tenant == 'Tenant B')
cond3 = (cloud_invoice.ProductName == 'Amazon CloudFront')
cond4 = (cloud_invoice.Operation == 'PUT')

test_case = cloud_invoice[cond1 & cond2 & cond3 & cond4]
test_case.sort_values(['__date', 'Vendor', 'Seller', 'ProductName', 'ServiceName'])

,__row,__tenant,__date,Vendor,Seller,ProductName,ServiceName,TransactionType,LeaseType,Operation,UsageQuantityUnit,_+Cost,_-Cost,__underlyingRowCount,__errors
759,759,Tenant B,September 2015,Amazon,Amazon,Amazon CloudFront,AWS CloudFront,Usage,On-Demand,PUT,BytesTransferred,0.0,NaN,4,0
7788,7788,Tenant B,September 2015,Amazon,Amazon,Amazon CloudFront,AWS CloudFront,Usage,On-Demand,PUT,Requests,0.0,NaN,2,0

In [ ]:
cond1 = (cloud_invoice.__date == 'September 2015')
cond2 = (cloud_invoice.__tenant == 'Tenant B')
cond3 = (cloud_invoice.ProductName == 'Amazon CloudFront')
cond4 = (cloud_invoice.Operation == 'PUT')

test_case = cloud_invoice[cond1 & cond2 & cond3 & cond4]
test_case.sort_values(['__date', 'Vendor', 'Seller', 'ProductName', 'ServiceName'])

In [20]:
#Getting Total Count of Underlying Rows to See % of Total Rows Here

raw_data_rows = 41624032

underlying_row_cnt = sum(cloud_invoice.__underlyingRowCount)

print('There are {} ({}) underlying rows in Agg. Data vs {} in raw set'.format(underlying_row_cnt, underlying_row_cnt/raw_data_rows, raw_data_rows))

There are 16344731 (0.3926753419755203) underlying rows in Agg. Data vs 41624032 in raw set

In [110]:
#Time Period:

date = cloud_invoice.__date

min(date), max(date), len(date.unique()) #Same Values in Raw

#Manual Inspection showed both range: July 2015 - September 2019

cloud_invoice.columns

Index(['__row', '__tenant', '__date', 'Vendor', 'Seller', 'ProductName',
       'ServiceName', 'TransactionType', 'LeaseType', 'Operation',
       'UsageQuantityUnit', '_+Cost', '_-Cost', '__underlyingRowCount',
       '__errors'],
      dtype='object')

In [128]:
cloud_invoice.loc[:,['_+Cost', '_-Cost']].describe()

             _+Cost        _-Cost
count  2.198141e+06  1.896130e+05
mean   2.474250e+03 -4.623883e+03
std    6.374935e+04  1.580027e+05
min    0.000000e+00 -6.148790e+07
25%    0.000000e+00 -1.993800e+02
50%    2.150000e-02 -1.124000e+01
75%    2.418670e+01 -2.921000e-01
max    6.451399e+07 -0.000000e+00

In [131]:
pd.options.display.float_format = '{:.2f}'.format
cloud_invoice.describe(include = 'all')

,__row,__tenant,__date,Vendor,Seller,ProductName,ServiceName,TransactionType,LeaseType,Operation,UsageQuantityUnit,_+Cost,_-Cost,__underlyingRowCount,__errors
count,2373824.00,2373824,2373824,2373824,2373824,2373824,2373824,2373824,2373824,2373763,2373824,2198141.00,189613.00,2373824.00,2373824.00
unique,nan,220,51,3,23,1109,1012,6,4,2276,56,nan,nan,nan,nan
top,nan,Tenant BEG,July 2019,Amazon,Amazon,Amazon Simple Storage Service,AWS S3,Usage,On-Demand,(not set),Requests,nan,nan,nan,nan
freq,nan,36626,103446,2165604,2144418,650000,658770,2060885,2319727,126903,584602,nan,nan,nan,nan
mean,1186911.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2474.25,-4623.88,6.89,0.00
std,685264.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63749.35,158002.65,78.49,0.00
min,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,-61487901.00,1.00,0.00
25%,593455.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,-199.38,1.00,0.00
50%,1186911.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.02,-11.24,2.00,0.00
75%,1780367.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.19,-0.29,5.00,0.00
max,2373823.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64513988.10,-0.00,46285.00,0.00

In [125]:
len(cloud_invoice.Operation.unique())

2277

In [27]:
#Number of Tenants

tenants = pd r.__tenant

len(tenants.unique())

#1,273 tenants in raw data

220

In [158]:
#Number of Tenants Over Time

panel_over_time = pd.DataFrame(cloud_invoice.groupby(by = ['__date'])['__tenant'].nunique()).reset_index()

panel_over_time.__date = pd.to_datetime(panel_over_time.__date)

panel_over_time.sort_values(by = ['__date'])

       __date  __tenant
21 2015-07-01         1
4  2015-08-01         1
46 2015-09-01         2
42 2015-10-01         2
38 2015-11-01         7
9  2015-12-01        15
17 2016-01-01        22
13 2016-02-01        44
30 2016-03-01        52
0  2016-04-01        61
34 2016-05-01        71
26 2016-06-01        74
22 2016-07-01       109
5  2016-08-01       116
47 2016-09-01       121
43 2016-10-01       125
39 2016-11-01       130
10 2016-12-01       136
18 2017-01-01       140
14 2017-02-01       141
31 2017-03-01       147
1  2017-04-01       151
35 2017-05-01       154
27 2017-06-01       158
23 2017-07-01       163
6  2017-08-01       165
48 2017-09-01       167
44 2017-10-01       171
40 2017-11-01       176
11 2017-12-01       182
19 2018-01-01       179
15 2018-02-01       182
32 2018-03-01       187
2  2018-04-01       189
36 2018-05-01       190
28 2018-06-01       191
24 2018-07-01       196
7  2018-08-01       195
49 2018-09-01       198
45 2018-10-01       199
41 2018-11-01       199
12 2018-12-01       201
20 2019-01-01       206
16 2019-02-01       209
33 2019-03-01       211
3  2019-04-01       213
37 2019-05-01       206
29 2019-06-01       203
25 2019-07-01       200
8  2019-08-01       199
50 2019-09-01       195

In [33]:
#Number of Vendors
vendors = cloud_invoice.Vendor

len(vendors.unique()), vendors.unique()

(3, array(['Amazon', 'Azure', 'GCP'], dtype=object))

In [35]:
#Number of Sellers

sellers = cloud_invoice.Seller

len(sellers.unique()), sellers.unique()

#Raw data has 39 sellers

(23, array(['Amazon', 'Azure', 'Google', 'AWS Marketplace', 'Cognosys Inc.',
        'Azure Marketplace', 'Palo Alto Networks', 'Bitnami', 'SendGrid',
        'F5 Networks', 'Aqua Security Software Inc.', 'DataStax',
        'RStudio', 'Google Click to Deploy', 'Canonical', 'Vertica',
        '#n31781 #n4347', 'OpenVPN Inc.', 'Genymobile', 'Neo0j', 'Actifio',
        'Jetware', 'Grakn Labs'], dtype=object))

In [54]:
#Types of Transactions
 
transaction_types = cloud_invoice.TransactionType
len(transaction_types.unique()), transaction_types.unique()

#Raw data has same types of charges

(6, array(['Usage', 'Recurring', 'Credit', 'Tax', 'Rounding', 'One-time'],
       dtype=object))

In [65]:
#Avg Number of Underlying Rows for Each Transaction Type
cloud_invoice.loc[:, ['TransactionType', '__underlyingRowCount']].groupby(by = 'TransactionType').mean() \

                 __underlyingRowCount
TransactionType
Credit                       4.152639
One-time                     5.735681
Recurring                    9.715448
Rounding                     1.000000
Tax                          6.633247
Usage                        7.084822

In [66]:
cloud_invoice[cloud_invoice.TransactionType == 'Rounding']

,__row,__tenant,__date,Vendor,Seller,ProductName,ServiceName,TransactionType,LeaseType,Operation,UsageQuantityUnit,_+Cost,_-Cost,__underlyingRowCount,__errors
210,210,Tenant B,January 2018,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5456,NaN,1,0
399,399,Tenant B,December 2015,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.3649,NaN,1,0
519,519,Tenant B,November 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.4436,NaN,1,0
593,593,Tenant B,July 2018,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.2865,NaN,1,0
1066,1066,Tenant B,March 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.3504,NaN,1,0
1143,1143,Tenant B,May 2018,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5174,NaN,1,0
1986,1986,Tenant B,September 2015,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.3324,NaN,1,0
2240,2240,Tenant B,April 2019,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.0034,NaN,1,0
2430,2430,Tenant B,August 2018,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5539,NaN,1,0
2649,2649,Tenant B,April 2018,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5696,NaN,1,0
2795,2795,Tenant B,October 2015,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.3386,NaN,1,0
2974,2974,Tenant B,September 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5107,NaN,1,0
3158,3158,Tenant B,August 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.2198,NaN,1,0
3221,3221,Tenant B,October 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.4565,NaN,1,0
3400,3400,Tenant B,November 2015,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.3145,NaN,1,0
3690,3690,Tenant B,July 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5690,NaN,1,0
3892,3892,Tenant B,January 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.4921,NaN,1,0
3908,3908,Tenant B,December 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5879,NaN,1,0
3961,3961,Tenant B,October 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.4225,NaN,1,0
3986,3986,Tenant B,July 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.3703,NaN,1,0
4001,4001,Tenant B,January 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.3621,NaN,1,0
4102,4102,Tenant B,April 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.3607,NaN,1,0
4105,4105,Tenant B,December 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.4310,NaN,1,0
5003,5003,Tenant B,May 2019,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.0156,NaN,1,0
5225,5225,Tenant B,November 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5733,NaN,1,0
5426,5426,Tenant B,February 2018,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5207,NaN,1,0
5767,5767,Tenant B,September 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.4383,NaN,1,0
5956,5956,Tenant B,June 2019,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.0071,NaN,1,0
6090,6090,Tenant B,March 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5043,NaN,1,0
6247,6247,Tenant B,May 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5499,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2327654,2327654,Tenant BJW,August 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.2404,NaN,1,0
2327661,2327661,Tenant BJW,February 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.5482,NaN,1,0
2328316,2328316,Tenant BJW,February 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.2411,NaN,1,0
2328604,2328604,Tenant BJW,February 2018,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.8334,NaN,1,0
2328801,2328801,Tenant BJW,September 2018,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),93.9357,NaN,1,0
2328984,2328984,Tenant BJW,September 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.3617,NaN,1,0
2333048,2333048,Tenant BMZ,November 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.3218,NaN,1,0
2334004,2334004,Tenant BMZ,October 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.2398,NaN,1,0
2334895,2334895,Tenant BMZ,December 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.2140,NaN,1,0
2335795,2335795,Tenant BMZ,September 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.2396,NaN,1,0
2338386,2338386,Tenant BQD,October 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.1764,NaN,1,0
2339250,2339250,Tenant BQS,May 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.5547,NaN,1,0
2339253,2339253,Tenant BQS,February 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.1430,NaN,1,0
2339272,2339272,Tenant BQS,June 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.5163,NaN,1,0
2339352,2339352,Tenant BQS,July 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.6541,NaN,1,0
2339470,2339470,Tenant BQS,May 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.8107,NaN,1,0
2339805,2339805,Tenant BQS,September 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.9683,NaN,1,0
2339924,2339924,Tenant BQS,December 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.2223,NaN,1,0
2341063,2341063,Tenant BQS,March 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.7567,NaN,1,0
2341338,2341338,Tenant BQS,February 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.7533,NaN,1,0
2341404,2341404,Tenant BQS,November 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.1063,NaN,1,0
2341749,2341749,Tenant BQS,September 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.8082,NaN,1,0
2342386,2342386,Tenant BQS,August 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.9777,NaN,1,0
2343499,2343499,Tenant BQS,April 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.2693,NaN,1,0
2344975,2344975,Tenant BQS,March 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.5989,NaN,1,0
2345965,2345965,Tenant BQS,October 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.1644,NaN,1,0
2346324,2346324,Tenant BQS,April 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.6853,NaN,1,0
2346543,2346543,Tenant BQS,January 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.6576,NaN,1,0
2346576,2346576,Tenant BQS,June 2016,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),0.7839,NaN,1,0
2346666,2346666,Tenant BQS,July 2017,Amazon,Amazon,Rounding,AWS Administrative,Rounding,On-Demand,(not set),(not set),1.5870,NaN,1,0

In [71]:
#Seeing if there is just one record per tenant per month
df = cloud_invoice[cloud_invoice.TransactionType == 'Rounding'].groupby(by = ['__tenant', '__date', 'TransactionType']) \
    .mean()[['__underlyingRowCount']].reset_index()
df[df.__underlyingRowCount != 1]

#empty table -- rounding only occurs once per tenant per month

Empty DataFrame
Columns: [__tenant, __date, TransactionType, __underlyingRowCount]
Index: []

In [79]:
#seeing if each charge only occurs once per month per tenant
df = cloud_invoice.drop(['__row', 'Operation', '__underlyingRowCount', '__errors'], axis = 1)
sum(df.duplicated(keep = False))

681640

In [75]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of            __tenant          __date  Vendor           Seller  \
0          Tenant B     August 2018  Amazon           Amazon
1          Tenant B   February 2017  Amazon           Amazon
2          Tenant B        May 2017  Amazon           Amazon
3          Tenant B  September 2019  Amazon           Amazon
4          Tenant B      March 2019  Amazon           Amazon
5          Tenant B    January 2019  Amazon           Amazon
6          Tenant B      March 2018  Amazon           Amazon
7          Tenant B     August 2017  Amazon           Amazon
8          Tenant B   February 2017  Amazon           Amazon
9          Tenant B   February 2016  Amazon           Amazon
10         Tenant B   December 2016  Amazon           Amazon
11         Tenant B       June 2018  Amazon           Amazon
12         Tenant B    October 2018  Amazon           Amazon
13         Tenant B        May 2016  Amazon           Amazon
14         Tenant B   November 2018  Amazon           Amazon
15         Tenant B      April 2019  Amazon           Amazon
16         Tenant B       June 2019  Amazon           Amazon
17         Tenant B       July 2018  Amazon           Amazon
18         Tenant B    October 2016  Amazon           Amazon
19         Tenant B        May 2019  Amazon           Amazon
20         Tenant B     August 2019  Amazon           Amazon
21         Tenant B    October 2016  Amazon           Amazon
22         Tenant B        May 2019  Amazon           Amazon
23         Tenant B   February 2017  Amazon           Amazon
24         Tenant B      March 2016  Amazon           Amazon
25         Tenant B   December 2016  Amazon           Amazon
26         Tenant B       July 2016  Amazon           Amazon
27         Tenant B     August 2019  Amazon           Amazon
28         Tenant B     August 2019  Amazon           Amazon
29         Tenant B        May 2017  Amazon           Amazon
...             ...             ...     ...              ...
2373794  Tenant BWF      April 2019  Amazon           Amazon
2373795  Tenant BWF     August 2019  Amazon           Amazon
2373796  Tenant BWF  September 2019  Amazon           Amazon
2373797  Tenant BWF        May 2019  Amazon           Amazon
2373798  Tenant BWF  September 2019  Amazon           Amazon
2373799  Tenant BWF  September 2019  Amazon           Amazon
2373800  Tenant BWF      April 2019  Amazon  AWS Marketplace
2373801  Tenant BWF      April 2019  Amazon           Amazon
2373802  Tenant BWF      April 2019  Amazon           Amazon
2373803  Tenant BWF      March 2019  Amazon           Amazon
2373804  Tenant BWF  September 2019  Amazon           Amazon
2373805  Tenant BWF      March 2019  Amazon           Amazon
2373806  Tenant BWF     August 2019  Amazon           Amazon
2373807  Tenant BWF   February 2019  Amazon           Amazon
2373808  Tenant BWF   February 2019  Amazon           Amazon
2373809  Tenant BWF       June 2019  Amazon           Amazon
2373810  Tenant BWF      March 2019  Amazon           Amazon
2373811  Tenant BWF      March 2019  Amazon           Amazon
2373812  Tenant BWF      March 2019  Amazon           Amazon
2373813  Tenant BWF        May 2019  Amazon           Amazon
2373814  Tenant BWF       July 2019  Amazon           Amazon
2373815  Tenant BWF      April 2019  Amazon           Amazon
2373816  Tenant BWF     August 2019  Amazon           Amazon
2373817  Tenant BWF     August 2019  Amazon           Amazon
2373818  Tenant BWF       July 2019  Amazon           Amazon
2373819  Tenant BWF     August 2019  Amazon           Amazon
2373820  Tenant BWF        May 2019  Amazon           Amazon
2373821  Tenant BWF      March 2019  Amazon           Amazon
2373822  Tenant BWF     August 2019  Amazon           Amazon
2373823  Tenant BWF     August 2019  Amazon           Amazon

                                               ProductName  \
0                            Amazon Simple Storage Service
1                                          Amazon Route 53
2                               AWS Key Management Service
3                                        AWS Cost Explorer
4                            Amazon Simple Storage Service
5                                          Amazon Route 53
6                              Amazon Simple Queue Service
7                                          Amazon Route 53
8                       Amazon Simple Notification Service
9                             Amazon Elastic Compute Cloud
10                                      Amazon RDS Service
11                                         Amazon Route 53
12                                         Amazon Route 53
13                           Amazon Simple Storage Service
14                            Amazon Elastic Compute Cloud
15                             Amazon Simple Queue Service
16                                        AmazonCloudWatch
17                                         Amazon Route 53
18                                         Amazon SimpleDB
19                             Amazon Simple Queue Service
20                           Amazon Simple Storage Service
21                           Amazon Simple Storage Service
22                           Amazon Simple Storage Service
23                                       Amazon CloudFront
24                           Amazon Simple Storage Service
25                                      Amazon RDS Service
26                                         Amazon SimpleDB
27                                                 AWS WAF
28                           Amazon Simple Storage Service
29                           Amazon Simple Storage Service
...                                                    ...
2373794                      Amazon Simple Storage Service
2373795                                 Amazon CloudSearch
2373796                                   AmazonCloudWatch
2373797                      Amazon Simple Storage Service
2373798                      Amazon Simple Storage Service
2373799                       Amazon Elastic Compute Cloud
2373800  CloudGuard IaaS (R00.00) Next Gen Firewall & T...
2373801                 Amazon Simple Notification Service
2373802                 Amazon Relational Database Service
2373803                                         AWS Config
2373804                      Amazon Simple Storage Service
2373805                       Amazon Elasticsearch Service
2373806                         AWS Key Management Service
2373807                      Amazon Simple Storage Service
2373808                      Amazon Simple Storage Service
2373809                                  Amazon WorkSpaces
2373810                 Amazon Relational Database Service
2373811                         AWS Key Management Service
2373812                       Amazon Elasticsearch Service
2373813                      Amazon Simple Storage Service
2373814                 Amazon Simple Notification Service
2373815                      Amazon Simple Storage Service
2373816                      Amazon Simple Storage Service
2373817                                 Amazon ElastiCache
2373818                      Amazon Simple Storage Service
2373819                     AWS Database Migration Service
2373820                                AWS Secrets Manager
2373821                      Amazon Simple Storage Service
2373822                                     Amazon Cognito
2373823                      Amazon Simple Storage Service

                                               ServiceName TransactionType  \
0                                                   AWS S3           Usage
1                                             AWS Route 53           Usage
2                               AWS Key Management Service           Usage
3                                        AWS Cost Explorer           Usage
4                                                   AWS S3           Usage
5                                             AWS Route 53           Usage
6                                                  AWS SQS           Usage
7                                             AWS Route 53           Usage
8                                                  AWS SNS           Usage
9                                                  AWSEC2            Usage
10                                                 AWS RDS           Usage
11                                            AWS Route 53           Usage
12                                            AWS Route 53       Recurring
13                                                  AWS S3           Usage
14                                                 AWS VPC           Usage
15                                                 AWS SQS           Usage
16                                          AWS CloudWatch           Usage
17                                            AWS Route 53       Recurring
18                                            AWS SimpleDB           Usage
19                                                 AWS SQS           Usage
20                                                  AWS S3           Usage
21                                                  AWS S3           Usage
22                                                  AWS S3           Usage
23                                          AWS CloudFront           Usage
24                                                  AWS S3           Usage
25                                                 AWS RDS           Usage
26                                            AWS SimpleDB           Usage
27                                                 AWS WAF           Usage
28                                                  AWS S3           Usage
29                                                  AWS S3           Usage
...                                                    ...             ...
2373794                                             AWS S3           Usage
2373795                                    AWS CloudSearch           Usage
2373796                                     AWS CloudWatch           Usage
2373797                                             AWS S3           Usage
2373798                                             AWS S3           Usage
2373799                                 AWS Administrative             Tax
2373800  AWS Cloudguard Iaas (r00.00) Next Gen Firewall...           Usage
2373801                                            AWS SNS           Usage
2373802                                 AWS Administrative             Tax
2373803                                 AWS Administrative             Tax
2373804                                             AWS S3           Usage
2373805                          AWS Elasticsearch Service           Usage
2373806                         AWS Key Management Service           Usage
2373807                                             AWS S3           Usage
2373808                                             AWS S3           Usage
2373809                                     AWS WorkSpaces       Recurring
2373810                                 AWS Administrative             Tax
2373811                         AWS Key Management Service           Usage
2373812                                 AWS Administrative             Tax
2373813                                             AWS S3           Usage
2373814                                            AWS SNS           Usage
2373815                                             AWS S3           Usage
2373816                                             AWS S3           Usage
2373817                                 AWS Administrative             Tax
2373818                                             AWS S3           Usage
2373819                     AWS Database Migration Service           Usage
2373820                                AWS Secrets Manager           Usage
2373821                                             AWS S3           Usage
2373822                                 AWS Administrative             Tax
2373823                                             AWS S3           Usage

         LeaseType UsageQuantityUnit      _+Cost  _-Cost
0        On-Demand          GbMonths      0.0814     NaN
1        On-Demand           Queries      0.0004     NaN
2        On-Demand               Key      1.0000     NaN
3        On-Demand           Unknown      0.0100     NaN
4        On-Demand          Requests      0.4907     NaN
5        On-Demand           Queries      0.0011     NaN
6        On-Demand  BytesTransferred      0.0002     NaN
7        On-Demand           Queries      0.0000     NaN
8        On-Demand          Requests      0.0000     NaN
9        On-Demand  BytesTransferred      6.9662     NaN
10       On-Demand           Unknown    163.0255     NaN
11       On-Demand           Queries      0.5656     NaN
12       On-Demand           Unknown     10.0000     NaN
13       On-Demand          Requests      0.0096     NaN
14       On-Demand           Unknown   1395.0921     NaN
15       On-Demand          Requests      0.1074     NaN
16       On-Demand          Requests      0.0000     NaN
17       On-Demand           Unknown     10.0000     NaN
18       On-Demand        UsageHours      0.0000     NaN
19       On-Demand          Requests      1.0769     NaN
20       On-Demand  BytesTransferred      0.0000     NaN
21       On-Demand          Requests      1.2141     NaN
22       On-Demand          Requests      0.1789     NaN
23       On-Demand          Requests    332.3686     NaN
24       On-Demand  BytesTransferred      0.0000     NaN
25        Reserved           Unknown      0.0000     NaN
26       On-Demand        UsageHours      0.0000     NaN
27       On-Demand           Unknown      1.8293     NaN
28       On-Demand          Requests      0.0384     NaN
29       On-Demand          Requests      2.7700     NaN
...            ...               ...         ...     ...
2373794  On-Demand  BytesTransferred      0.0004     NaN
2373795  On-Demand  BytesTransferred      2.0073     NaN
2373796  On-Demand           Unknown      0.2629     NaN
2373797  On-Demand          Requests      0.0018     NaN
2373798  On-Demand          Requests      0.0300     NaN
2373799   Reserved         (not set)      0.0000     NaN
2373800  On-Demand           Unknown   1840.3600     NaN
2373801  On-Demand          Requests      0.7673     NaN
2373802  On-Demand         (not set)    194.9800     NaN
2373803  On-Demand         (not set)     23.7800     NaN
2373804  On-Demand          Requests      0.0000     NaN
2373805  On-Demand        UsageHours  10351.6050     NaN
2373806  On-Demand          Requests      0.0000     NaN
2373807  On-Demand          Requests      0.0000     NaN
2373808  On-Demand  BytesTransferred      0.0000     NaN
2373809  On-Demand           Unknown     35.0000     NaN
2373810  On-Demand         (not set)     17.8400     NaN
2373811  On-Demand          Requests      0.0011     NaN
2373812  On-Demand         (not set)    323.9300     NaN
2373813  On-Demand  BytesTransferred      0.0000     NaN
2373814  On-Demand          Requests      0.3248     NaN
2373815  On-Demand  BytesTransferred      0.0000     NaN
2373816  On-Demand          Requests      0.1599     NaN
2373817  On-Demand         (not set)      0.0000     NaN
2373818  On-Demand  BytesTransferred      0.0000     NaN
2373819  On-Demand  BytesTransferred      0.0004     NaN
2373820  On-Demand          Requests      0.0065     NaN
2373821  On-Demand          Requests      0.0001     NaN
2373822  On-Demand         (not set)      2.5400     NaN
2373823  On-Demand          Requests      0.0001     NaN

[2373824 rows x 11 columns]>

#### Transaction Type

In [82]:
#Credit

cond1 = (cloud_invoice.__date == 'April 2019')
cond2 = (cloud_invoice.__tenant == 'Tenant EL')
cond3 = (cloud_invoice.ProductName == 'Amazon Simple Storage Service')
cond4 = (cloud_invoice.Operation == 'S0-SIATransition')

test_case = cloud_invoice[cond1 & cond2 & cond3 & cond4]
test_case.sort_values(['__date', 'Vendor', 'Seller', 'ProductName', 'ServiceName'])

#credits appear to be deductions on service - paired with a usage line?

,__row,__tenant,__date,Vendor,Seller,ProductName,ServiceName,TransactionType,LeaseType,Operation,UsageQuantityUnit,_+Cost,_-Cost,__underlyingRowCount,__errors
489529,489529,Tenant EL,April 2019,Amazon,Amazon,Amazon Simple Storage Service,AWS S3,Credit,On-Demand,S0-SIATransition,Requests,NaN,-2.164,2,0
492095,492095,Tenant EL,April 2019,Amazon,Amazon,Amazon Simple Storage Service,AWS S3,Usage,On-Demand,S0-SIATransition,Requests,18.0333,NaN,2,0

In [166]:
cloud_invoice[(cloud_invoice['_+Cost'] > 1000000) & (cloud_invoice.TransactionType != 'One-time')]

,__row,__tenant,__date,Vendor,Seller,ProductName,ServiceName,TransactionType,LeaseType,Operation,UsageQuantityUnit,_+Cost,_-Cost,__underlyingRowCount,__errors
68398,68398,Tenant K,May 2018,Amazon,Amazon,Amazon Relational Database Service,AWS RDS,Usage,On-Demand,Not Applicable,Unknown,1665446.61,nan,3,0
68483,68483,Tenant K,June 2018,Amazon,Amazon,Amazon Relational Database Service,AWS RDS,Usage,On-Demand,Not Applicable,Unknown,1562624.59,nan,2,0
78907,78907,Tenant K,April 2018,Amazon,Amazon,Amazon Relational Database Service,AWS RDS,Usage,On-Demand,Not Applicable,Unknown,1646786.79,nan,3,0
80543,80543,Tenant K,June 2017,Azure,Azure,Microsoft.Compute,Azure Compute,Usage,On-Demand,Compute Hours,Hours,1009748.04,nan,235,0
86021,86021,Tenant K,March 2018,Amazon,Amazon,Amazon Relational Database Service,AWS RDS,Usage,On-Demand,Not Applicable,Unknown,1393720.52,nan,2,0
98932,98932,Tenant L,April 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,Reserved,RunInstances,UsageHours,1116405.65,nan,173,0
99834,99834,Tenant L,October 2017,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1475993.17,nan,198,0
100853,100853,Tenant L,April 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,2333679.96,nan,241,0
101151,101151,Tenant L,April 2019,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1528344.47,nan,336,0
102167,102167,Tenant L,September 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,2317550.34,nan,251,0
102357,102357,Tenant L,May 2019,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1697688.37,nan,347,0
102472,102472,Tenant L,April 2018,Amazon,Amazon,Amazon Relational Database Service,AWS RDS,Usage,On-Demand,CreateDBInstance:0000,UsageHours,1057675.61,nan,64,0
103579,103579,Tenant L,March 2018,Amazon,Amazon,Amazon Relational Database Service,AWS RDS,Usage,On-Demand,CreateDBInstance:0000,UsageHours,1067809.55,nan,65,0
104410,104410,Tenant L,June 2019,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1623439.99,nan,343,0
105093,105093,Tenant L,October 2018,Amazon,Amazon,Amazon Relational Database Service,AWS RDS,Usage,On-Demand,CreateDBInstance:0000,UsageHours,1113840.57,nan,71,0
108164,108164,Tenant L,January 2019,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1216859.99,nan,316,0
109768,109768,Tenant L,June 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,2191306.93,nan,232,0
109856,109856,Tenant L,February 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,2771259.38,nan,215,0
110465,110465,Tenant L,May 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,2220388.99,nan,203,0
110680,110680,Tenant L,September 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,Reserved,RunInstances,UsageHours,1158326.84,nan,166,0
110707,110707,Tenant L,June 2017,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1363558.03,nan,168,0
110756,110756,Tenant L,February 2019,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1263542.29,nan,310,0
110799,110799,Tenant L,May 2017,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1168817.09,nan,171,0
111542,111542,Tenant L,September 2017,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1659951.45,nan,184,0
111578,111578,Tenant L,June 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,Reserved,RunInstances,UsageHours,1111227.29,nan,177,0
111866,111866,Tenant L,May 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,Reserved,RunInstances,UsageHours,1142073.55,nan,185,0
112390,112390,Tenant L,July 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,Reserved,RunInstances,UsageHours,1146743.75,nan,183,0
112823,112823,Tenant L,June 2018,Amazon,Amazon,Amazon Relational Database Service,AWS RDS,Usage,On-Demand,CreateDBInstance:0000,UsageHours,1012413.33,nan,61,0
112970,112970,Tenant L,August 2018,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,Reserved,RunInstances,UsageHours,1183913.87,nan,176,0
113040,113040,Tenant L,August 2019,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,2037462.13,nan,343,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2218169,2218169,Tenant BGJ,August 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Recurring,Reserved,RAM,gibibyte hour,1195796.19,nan,6,0
2218179,2218179,Tenant BGJ,August 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Recurring,Reserved,CPU,hour,2283776.82,nan,6,0
2218202,2218202,Tenant BGJ,May 2018,GCP,Google,GCP Compute Engine,GCP Compute Engine,Usage,Reserved,N0Highmem,ByteSecond,1603424.34,nan,3,0
2218311,2218311,Tenant BGJ,January 2019,GCP,Google,GCP Cloud Storage,GCP Cloud Storage,Usage,On-Demand,MultiRegionalStorage,gibibyte month,1969143.48,nan,3,0
2218429,2218429,Tenant BGJ,May 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Recurring,Reserved,CPU,hour,2330925.68,nan,6,0
2218502,2218502,Tenant BGJ,June 2018,GCP,Google,GCP Compute Engine,GCP Compute Engine,Usage,Reserved,N0Highmem,ByteSecond,1291433.61,nan,3,0
2218751,2218751,Tenant BGJ,April 2019,GCP,Google,GCP Cloud Storage,GCP Cloud Storage,Usage,On-Demand,MultiRegionalStorage,gibibyte month,1558251.18,nan,4,0
2218764,2218764,Tenant BGJ,February 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Usage,Reserved,N0Standard,gibibyte hour,2708276.54,nan,6,0
2218804,2218804,Tenant BGJ,September 2018,GCP,Google,GCP Compute Engine,GCP Compute Engine,Usage,Reserved,N0Highmem,Second,1261812.63,nan,3,0
2218953,2218953,Tenant BGJ,May 2019,GCP,Google,GCP Cloud Dataflow,GCP Cloud Dataflow,Usage,On-Demand,CPU,hour,1405917.24,nan,2,0
2218976,2218976,Tenant BGJ,June 2019,GCP,Google,GCP Cloud Dataflow,GCP Cloud Dataflow,Usage,On-Demand,CPU,hour,1406688.75,nan,4,0
2218989,2218989,Tenant BGJ,August 2018,GCP,Google,GCP Compute Engine,GCP Compute Engine,Usage,Reserved,N0Highmem,Second,1325696.04,nan,3,0
2219153,2219153,Tenant BGJ,February 2019,GCP,Google,GCP Cloud Bigtable,GCP Cloud Bigtable,Usage,On-Demand,Node,hour,1329392.12,nan,4,0
2219186,2219186,Tenant BGJ,October 2018,GCP,Google,GCP Compute Engine,GCP Compute Engine,Credit,Reserved,(not set),hour,2224974.42,-2224974.43,10,0
2219193,2219193,Tenant BGJ,September 2018,GCP,Google,GCP Cloud Storage,GCP Cloud Storage,Usage,On-Demand,MultiRegionalStorage,ByteSecond,1738870.38,nan,3,0
2219272,2219272,Tenant BGJ,May 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Credit,Reserved,(not set),seconds,2507307.56,-2507307.70,7,0
2219362,2219362,Tenant BGJ,June 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Credit,Reserved,(not set),seconds,2391799.60,-2391799.91,7,0
2219406,2219406,Tenant BGJ,April 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Usage,On-Demand,(not set),hour,2437456.14,-2437456.14,20,0
2219514,2219514,Tenant BGJ,August 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Usage,Reserved,N0Standard,hour,5536716.45,nan,3,0
2219570,2219570,Tenant BGJ,August 2018,GCP,Google,GCP Cloud Bigtable,GCP Cloud Bigtable,Usage,On-Demand,Node,Second,1010684.30,nan,2,0
2219573,2219573,Tenant BGJ,January 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Credit,Reserved,(not set),hour,2224569.33,-2224569.21,7,0
2219615,2219615,Tenant BGJ,January 2019,GCP,Google,GCP Cloud Pub/Sub,GCP Cloud Pub/sub,Usage,On-Demand,Message,tebibyte,1073396.98,nan,1,0
2219735,2219735,Tenant BGJ,October 2018,GCP,Google,GCP Compute Engine,GCP Compute Engine,Credit,On-Demand,(not set),hour,1301625.17,-859964.30,2,0
2219749,2219749,Tenant BGJ,July 2018,GCP,Google,GCP Compute Engine,GCP Compute Engine,Usage,Reserved,N0Highcpu,Second,1192327.82,nan,6,0
2220033,2220033,Tenant BGJ,July 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Credit,Reserved,(not set),hour,4720506.85,-4720508.58,7,0
2220102,2220102,Tenant BGJ,April 2019,GCP,Google,GCP Compute Engine,GCP Compute Engine,Credit,Reserved,(not set),hour,4923450.07,-4921985.83,7,0
2220147,2220147,Tenant BGJ,September 2018,GCP,Google,GCP Compute Engine,GCP Compute Engine,Usage,Reserved,N0Standard,ByteSecond,1134207.95,nan,3,0
2342993,2342993,Tenant BQS,September 2017,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1432888.72,nan,243,0
2343135,2343135,Tenant BQS,August 2017,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1538666.41,nan,223,0
2343446,2343446,Tenant BQS,July 2017,Amazon,Amazon,Amazon Elastic Compute Cloud,AWSEC2,Usage,On-Demand,RunInstances,UsageHours,1088379.87,nan,219,0

In [1]:
#Various Groupings of Vendor/Seller/Product Below

In [8]:
cloud_invoice.loc[:, ['Vendor', 'Seller', 'ProductName']].drop_duplicates() #.groupby(by = ['Vendor', 'Seller', 'ProductName'], axis = 1)

,Vendor,Seller,ProductName
0,Amazon,Amazon,Amazon Simple Storage Service
1,Amazon,Amazon,Amazon Route 53
2,Amazon,Amazon,AWS Key Management Service
3,Amazon,Amazon,AWS Cost Explorer
6,Amazon,Amazon,Amazon Simple Queue Service
8,Amazon,Amazon,Amazon Simple Notification Service
9,Amazon,Amazon,Amazon Elastic Compute Cloud
10,Amazon,Amazon,Amazon RDS Service
16,Amazon,Amazon,AmazonCloudWatch
18,Amazon,Amazon,Amazon SimpleDB
23,Amazon,Amazon,Amazon CloudFront
27,Amazon,Amazon,AWS WAF
71,Amazon,Amazon,Amazon DynamoDB
72,Amazon,Amazon,Rounding
74,Amazon,Amazon,Amazon Elastic MapReduce
75,Amazon,Amazon,Amazon ElastiCache
80,Amazon,Amazon,Amazon Simple Email Service
123,Amazon,Amazon,Amazon Relational Database Service
125,Amazon,Amazon,AWS Glue
128,Amazon,Amazon,Zero Tax
131,Amazon,Amazon,AWS Support (Business)
133,Amazon,Amazon,US Sales Tax
186,Amazon,Amazon,AWS Lambda
193,Amazon,Amazon,AWS Secrets Manager
254,Amazon,Amazon,Amazon Kinesis
662,Amazon,Amazon,Amazon Athena
730,Amazon,Amazon,Amazon API Gateway
999,Amazon,Amazon,Amazon Kinesis Firehose
2056,Amazon,Amazon,AWS Data Transfer
2078,Amazon,Amazon,Amazon Elasticsearch Service
...,...,...,...
2209708,GCP,Google,GCP Remote Build Execution
2209984,GCP,Google,GCP Custom Search
2210147,GCP,Genymobile,GCP Compute Engine
2210190,GCP,Google,GCP Maps API v0
2210287,GCP,Neo0j,GCP Compute Engine
2211652,GCP,Actifio,GCP Compute Engine
2212270,GCP,Google,GCP Elevation API
2212816,GCP,Jetware,GCP Compute Engine
2219430,GCP,Grakn Labs,GCP Compute Engine
2225391,Amazon,AWS Marketplace,"FlashGrid - Oracle Linux 0 AMI for Oracle RAC,..."
2226053,Amazon,AWS Marketplace,Citrix ADC (formerly NetScaler) VPX Platinum E...
2227768,Amazon,AWS Marketplace,Oracle Linux 0 AMI for FlashGrid #w235746 with...
2231717,Amazon,AWS Marketplace,Citrix ADC (formerly NetScaler) VPX Premium - ...
2236388,Amazon,AWS Marketplace,Vyatta (Community Edition) (PV)
2251107,Amazon,AWS Marketplace,0-Click SQL Server 0000 Enterprise Edition on ...
2252038,Amazon,AWS Marketplace,Hardened Amazon Linux 0000.00
2255492,Amazon,AWS Marketplace,Bolt is an open source Content Management Tool.
2270264,Amazon,AWS Marketplace,CIS Debian Linux 0 Benchmark - Level 0
2270783,Amazon,AWS Marketplace,Active Directory Domain Controller 0000
2281149,Amazon,AWS Marketplace,StreamSets: Data Operations platform
2292023,Amazon,AWS Marketplace,AppDynamics Application And Business Performan...
2313729,Amazon,AWS Marketplace,CIS Amazon Linux 0000.00 x00 - v0.0.0 (HVM)
2316007,Amazon,AWS Marketplace,0-Click SQL Server 0000 SP0 Standard Edition O...
2325318,Amazon,AWS Marketplace,Secured #w121372 on Windows 0000
2329137,Amazon,AWS Marketplace,Teradata Data Mover
2329202,Amazon,AWS Marketplace,MidVision RapidDeploy for Enterprise Database ...
2347641,Amazon,AWS Marketplace,Linux-Apache-MariaDB-PHP0 (LAMP) Application S...
2352443,Amazon,AWS Marketplace,000GB instance for QF0 Cluster
2352852,Amazon,AWS Marketplace,Security for Amazon Web Services
2360391,Amazon,Amazon,Amazon Chime Business Calling a service sold b...

#### Notes on Cloud Invoice

In [9]:
cloud_invoice.loc[:,['Vendor', 'Seller', 'ProductName', '_+Cost']].groupby(by = ['Vendor', 'Seller', 'ProductName']).sum().sort_values('_+Cost', ascending = False)

                                                                                   _+Cost
Vendor Seller            ProductName
Amazon Amazon            Amazon Elastic Compute Cloud                        2.817861e+09
GCP    Google            GCP Compute Engine                                  5.126769e+08
Amazon Amazon            Amazon Relational Database Service                  4.108761e+08
                         Amazon Simple Storage Service                       3.264472e+08
                         AWS Premium Support                                 1.362486e+08
Azure  Azure             Microsoft.Compute                                   8.796196e+07
Amazon Amazon            Amazon Redshift                                     8.485982e+07
                         Amazon DynamoDB                                     8.019632e+07
                         Amazon RDS Service                                  7.863150e+07
                         Amazon ElastiCache                                  7.437468e+07
                         Amazon Elasticsearch Service                        7.088840e+07
                         AmazonCloudWatch                                    6.191660e+07
GCP    Google            GCP Cloud Storage                                   5.508171e+07
                         GCP Cloud Dataflow                                  5.110496e+07
                         GCP BigQuery                                        3.583264e+07
                         GCP Cloud Bigtable                                  2.839496e+07
Amazon Amazon            Amazon Elastic MapReduce                            2.834894e+07
                         Amazon WorkSpaces                                   2.553870e+07
                         Amazon CloudFront                                   2.445532e+07
                         Amazon Elastic File System                          2.443331e+07
                         AWS Direct Connect                                  2.301637e+07
                         AWS CloudTrail                                      1.866692e+07
Azure  Azure             Microsoft.Capacity                                  1.864997e+07
Amazon Amazon            Amazon Simple Queue Service                         1.843405e+07
                         AWS Support (Business)                              1.800643e+07
                         VAT                                                 1.589655e+07
GCP    Google            GCP Cloud Pub/Sub                                   1.566519e+07
Azure  Azure             Microsoft.Storage                                   1.480436e+07
                         Microsoft.Sql                                       1.467951e+07
Amazon Amazon            Amazon Kinesis                                      1.353450e+07
...                                                                                   ...
       AWS Marketplace   G-vTAP Controller                                   0.000000e+00
                         Informatica Remote Access Jump Server               0.000000e+00
                         Informatica Hadoop-Cluster Image for EDC            0.000000e+00
Azure  Azure Marketplace Barracuda CloudGen WAF for Azure Free 00-day        0.000000e+00
                         Barracuda CloudGen WAF for Azure-Barracuda Clou...  0.000000e+00
Amazon AWS Marketplace   Hyperglance - up to 000 Nodes                       0.000000e+00
                         Hyperglance - up to 0,000 Nodes                     0.000000e+00
                         Hortonworks Data Cloud - HDP Services               0.000000e+00
                         Hortonworks Data Cloud - Controller Service         0.000000e+00
Azure  Azure Marketplace Bing Maps API for Enterprise-Internal Website T...  0.000000e+00
Amazon AWS Marketplace   Graylog Powered by Intuz                            0.000000e+00
                         Git                                                 0.000000e+00
                         GigaVUE V Series Controller                         0.000000e+00
                         GigaVUE V Series                                    0.000000e+00
                         Foxit Reader                                        0.000000e+00
                         CodeBuild                                           0.000000e+00
                         FileZilla                                           0.000000e+00
                         F5 Per-App VE - BIG-IP LTM  (PAYG, 00Mbps)          0.000000e+00
                         F5 BIG-IP Virtual Edition - BETTER  (PAYG, 00Gbps)  0.000000e+00
                         F5 BIG-IP Virtual Edition - BEST - (PAYG, 0Gbps)    0.000000e+00
                         F5 BIG-IP Virtual Edition - BEST - (PAYG, 000Mbps)  0.000000e+00
                         Ethereum Blockchain Powered by Code Creator         0.000000e+00
                         Elastic SSO, Team 000 Users (HVM)                   0.000000e+00
                         DynamoDB Accelerator (DAX)                          0.000000e+00
                         Denodo Platform 0.0 (0 queries, 00K rows)           0.000000e+00
                         Couchbase Server NoSQL with Hadoop core by Miri...  0.000000e+00
                         Contact Center Telecommunications (service sold...  0.000000e+00
                         ColdFusion (0000 release - Windows)                 0.000000e+00
Azure  Azure Marketplace Chef Automate Managed Service - Preview-Chef Au...  0.000000e+00
GCP    Vertica           GCP Compute Engine                                  0.000000e+00

[1240 rows x 1 columns]

In [10]:
cloud_invoice.loc[:,['Vendor', 'Seller', '_+Cost']].groupby(by = ['Vendor', 'Seller']).sum().sort_values('_+Cost', ascending = False  )

                                          _+Cost
Vendor Seller
Amazon Amazon                       4.486764e+09
GCP    Google                       7.203527e+08
Azure  Azure                        1.954566e+08
Amazon AWS Marketplace              3.566854e+07
Azure  Azure Marketplace            2.366947e+05
GCP    F5 Networks                  1.623858e+05
       Palo Alto Networks           1.051563e+05
       Aqua Security Software Inc.  2.809082e+03
       RStudio                      9.748161e+02
       SendGrid                     1.396974e+02
       Grakn Labs                   2.390280e+01
       Genymobile                   1.303400e+00
       Cognosys Inc.                1.880000e-02
       Jetware                      0.000000e+00
       OpenVPN Inc.                 0.000000e+00
       Neo0j                        0.000000e+00
       Google Click to Deploy       0.000000e+00
       Bitnami                      0.000000e+00
       #n31781 #n4347               0.000000e+00
       Actifio                      0.000000e+00
       DataStax                     0.000000e+00
       Canonical                    0.000000e+00
       Vertica                      0.000000e+00

In [11]:
cloud_invoice.loc[:,['Vendor', '_+Cost']].groupby(by = ['Vendor']).sum().sort_values('_+Cost', ascending = False  )

              _+Cost
Vendor
Amazon  4.522432e+09
GCP     7.206242e+08
Azure   1.956933e+08

In [12]:
# Lots of venders, seems to be order alphabetically and then just adding on letters/looping around past 26
# Vendors seem to be repeated often
#     Apparent Tree Flow: Vendor --> Seller --> Product/Service Name

In [13]:
cloud_invoice.groupby('Vendor').count()

,__row,__tenant,__date,Seller,ProductName,ServiceName,TransactionType,LeaseType,Operation,UsageQuantityUnit,_+Cost,_-Cost,__underlyingRowCount,__errors
Vendor,,,,,,,,,,,,,,
Amazon,2165604,2165604,2165604,2165604,2165604,2165604,2165604,2165604,2165543,2165604,1999170,177045,2165604,2165604
Azure,153269,153269,153269,153269,153269,153269,153269,153269,153269,153269,153253,16,153269,153269
GCP,54951,54951,54951,54951,54951,54951,54951,54951,54951,54951,45718,12552,54951,54951